<div class="text-white bg-pink-leni border-top-1">
	<div class="container p-8 mx-auto md:max-w-4-xl lg:max-w-6xl md:px-12 md:py-8">
		{{#data-footer}}
		<div class="flex flex-wrap flex-auto md:flex-nowrap">
			<div class="w-full">
				<h2 class="mb-2 text-lg font-extrabold tracking-wide uppercase text-blue-leni">Official Partners</h2>
				<ul class="mb-8 space-y-1 text-lg">
					<li>
						<a target="_blank"  href="https://www.teamlenirobredo.com">
							Team Leni Robredo
						</a>
					</li>
					<li>
						<a target="_blank"  href="https://ovp.gov.ph/">
							Leni2022
						</a>
					</li>
				</ul>
			</div>
			<div class="w-full">
				<h2 class="mb-2 text-lg font-extrabold tracking-wide uppercase text-blue-leni">Official Links</h2>
				<ul class="mb-8 space-y-1 text-lg">
					<li>
						<a target="_blank" href="https://lenirobredo.com">
							Leni Robredo
						</a>
					</li>
					<li>
						<a target="_blank"  href="https://ovp.gov.ph/">
							OVP
						</a>
					</li>
					<li>
						<a target="_blank"  href="https://kikopangilinan.com/">
							Kiko Pangilinan
						</a>
					</li>
				</ul>
				
			</div>
			<div class="w-full">
				<h2 class="mb-2 text-lg font-extrabold tracking-wide uppercase text-blue-leni">Content</h2>
				<ul class="mb-8 space-y-1 text-lg">
						<li>
							<a href="/wiki/Special:Categories">
								Categories
							</a>
						</li>
						<li>
							<a href="/wiki/Pinkpedia:Cheatsheet">
								Cheatsheet
							</a>
						</li>
						<li>
							<a href="/wiki/Pinkpedia:Support">
								Support
							</a>
						</li>
				</ul>
			</div>
			<div class="w-full">
				<h2 class="mb-2 text-lg font-extrabold tracking-wide uppercase text-blue-leni">Legal</h2>
				<ul class="mb-8 space-y-1 text-lg">
						<li>
							<a href="/wiki/Pinkpedia:Privacy Policy">
								Privacy Policy
							</a>
						</li>
						<li>
							<a href="/wiki/Pinkpedia:Terms of Use">
								Terms of Use
							</a>
						</li>
						<li>
							<a href="/wiki/Pinkpedia:Disclaimer">
								Disclaimer
							</a>
						</li>
						<li>
							<a href="/wiki/Pinkpedia:About Us">
								About Us
							</a>
						</li>
				</ul>
			</div>
			<div class="w-full">
				<h2 class="mb-2 text-lg font-extrabold tracking-wide uppercase text-blue-leni">Social</h2>
				{{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}	
			</div>			
		</div>
		{{/data-footer}}
	</div>
	<div class="py-2 text-gray-300 bg-pink-700">
	<!-- Copy right -->
		<p class="my-2 text-sm text-center md:text-base">© <span class="uppercase">pinkpedia</span> 2022 | Labor of &#9829; from Techies4Leni</p>
	</div>
</div>